body {
    font-size: 30px;
}
@mixin display-flex($flex-direction, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: center;
}
main {
    width: 900px;
    height: 900px;
    border: 5px solid #000;
    display: flex;
    justify-content: space-between;


    .left,
    .right {
        @include display-flex(column,space-evenly);
        width: 50px;
    }

    .middle-part{
        @include display-flex(column, space-around);
        width: 800px;
        height: 900px;
    }

    .top, .bottom{
        @include display-flex(row,space-around);
        width: 100%;
    }

    .chess-board {
        display: flex;
        border: 3px solid #000;
        min-width: 100%;
        flex-wrap: wrap;
       

        & div, span{
            width: 100px;
            height: 100px;
        }


        & div:nth-child(odd) {
            background-color: #000;
        }

        & span:nth-child(even) {
            background-color: #000;
        }
    }

   
} 
    
    